<b>Heroes</b><br>
<hero-detail ng-repeat="hero in $ctrl.list" hero="hero" 
company-list = "$ctrl.companyList" 
powers = "$ctrl.powers"
on-delete="$ctrl.deleteHero(hero)" on-update="$ctrl.updateHero(hero, prop, value)"></hero-detail>


{{$ctrl.list}}
<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->