<hr>
<div>
  Name: {{$ctrl.hero.name}}<br>
  Company: <selectable-field field-value="$ctrl.hero.company" field-list = "$ctrl.companyList"
  
  on-update="$ctrl.update('company', value)"></selectable-field>
  <br>
  Powers: <selectable-field field-value="$ctrl.hero.powers" 
  
  field-list = "$ctrl.powers"
  mode = "multiple"
  on-update="$ctrl.update('powers', value)"></selectable-field><br>
  <button ng-click="$ctrl.delete()">Delete</button>
  
</div>


<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->