<span ng-switch="$ctrl.editMode">
  
  
  <select ng-switch-when="true" ng-model="$ctrl.fieldValue" 
  ng-if="$ctrl.mode == 'multiple'" multiple
  ng-options="o as o for o in $ctrl.fieldList"></select>
 
   <select ng-switch-when="true" ng-model="$ctrl.fieldValue" 
  ng-if="$ctrl.mode != 'multiple'" 
  ng-options="o as o for o in $ctrl.fieldList"></select>
  
  <span ng-switch-default>{{$ctrl.fieldValue}}</span>
</span>
<button ng-click="$ctrl.handleModeChange()">{{$ctrl.editMode ? 'Save' : 'Edit'}}</button>
<button ng-if="$ctrl.editMode" ng-click="$ctrl.reset()">Reset</button>

<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->